@model VeterinariaPrueba2.Models.RegistroDueño

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar registro</h2>
<h3>¿Quieres eliminar este registro?</h3>
<div>
    <br />
    <h4 style="color:orangered">Datos del dueño registrada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblRegistroPersonal.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblRegistroPersonal.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
        <br />
        <div class="btn" style="background-color:cornflowerblue">
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
