@model VeterinariaPrueba2.Models.RegistroDueño

@{
    <link rel="stylesheet" href="~/Content/Site.css" />
    ViewBag.Title = "Detalles";
}

<h2>Detalles del dueño</h2>

<div>
    <h4 style="color:orangered">Detalles de los datos registrados del dueño de la mascota</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Nombre del doctor
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tblRegistroPersonal.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>
</div>
<p>
    ¿Desea editar este registro?
    <div class="btn btn-warning">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id })
    </div>
    <br />
    <br />
    <div class="btn" style="background-color:cornflowerblue;">
        @Html.ActionLink("Regresar", "Index")
    </div>

</p>
