@model VeterinariaPrueba2.Models.RegistroPersonal

@{
    ViewBag.Title = "Detalles del empleado";
}

<h2>Detalles de los datos registrados</h2>
<br />
<div>
    <h4 style="color:orangered">Datos ingresados de la mascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentoIdentificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentoIdentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad)
        </dd>

    </dl>
</div>
<p>
    ¿Quieres editar el registro?
    <div>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-danger" })
    </div>
    
    <br />
    <div class="btn" style="background-color:cornflowerblue">
        @Html.ActionLink("Regresar", "Index")
    </div>
    
</p>
