@model IEnumerable<VeterinariaPrueba2.Models.RegistroPersonal>

@{
    ViewBag.Title = "Registro de médicos";
}

<h1><img src="~/Content/img/veterinario.png" />Registro de Doctores</h1>
<br />
<p class="btn btn-success">
    @Html.ActionLink("Crear nuevo", "Create")
</p>

<br />
<br />
<table class="table table-striped" style="background-color:#8C8C8C">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentoIdentificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentoIdentificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }, new { @class="btn btn-warning"})
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
