@model VeterinariaPrueba2.Models.RegistroAnimales

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles del registro elegido</h2>
<br />
<div>
    <h4 style="color:orangered">Datos ingresados de la mascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblRegistroDueño.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblRegistroDueño.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaseAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaseAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCita)
        </dd>

    </dl>
</div>
<p>
    ¿Quiere editar este registro?
    <div class="btn btn-danger">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id })
    </div>
    <br />
    <br />
    <div class="btn btn-warning">
        @Html.ActionLink("Regresar", "Index")
    </div>
    
</p>
